.header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  margin-top: 15px;
}

.iconBack {
  width: 37px;
  height: 37px;
  border-radius: 5px;
  color: white;
  background-color: var(--color-Primary-D2);
  /* margin-right: 10px; */
  padding: 5px;
  border: 1px solid;
  box-shadow: 1px 1px 4px -1px rgba(0,0,0,0.70);
  border-color: var(--color-Primary-D2);
  margin-left: 15px;
}

.iconBack:hover{
  background-color: var(--color-Tertiary-D2);
  cursor: pointer;
  border-color: var(--color-Tertiary-D2);
}

.logo {
  margin: auto;
}

.headerGame {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
}

.contentGame {
  margin: 15px;
  text-align: center;
}

.path {
  margin-top: 30px;
  margin-bottom: 0px;
  font-size: medium;
  text-align: start;
}

.path a {
  color: blue;
  text-decoration: underline;
}

.titleGame {
  color: var(--color-Primary-D2);
  text-align: start;
  font-size: 25px;
}

.buttonsGame {
  display: flex;
  justify-content: space-evenly;
}

.iconShare {
  width: 30px;
  height: 30px;
  margin-right: 20px;
  box-shadow: 1px 1px 4px -1px rgba(0,0,0,0.70);
  padding: 5px;
  border-radius: 5px;
}

.iconLike{
  width: 30px;
  height: 30px;
  box-shadow: 1px 1px 4px -1px rgba(0,0,0,0.70);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.iconShare:hover, .iconLike:hover {
  cursor: pointer;  
}

.descriptionGame {
  text-align: justify;
  display: -webkit-box;
  max-width: 95%;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-weight: lighter;
  color: var(--color-DARK);
}

.btnPlay {
  background-color: var(--color-Secondary-D2);
  font-size: 20px;
  font-weight: bold;
  color: var(--color-bg-app-LIGHT);
  padding: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 80%;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 2px 6px -1px rgba(0,0,0,0.70);
}

.imgGame {
  border-radius: 10px;
}

.carousel{
  margin-left: 10%;
  margin-right: 10%;
  
}

.similarGamesTitle{
  margin-left: 15px;
  margin-top: 25px;
  font-weight: bold;
  color: var(--color-Primary-D2);  
}

.spinner{
  font-size: 20px;
  color: var(--color-Primary-D2);
}

.noExistGameTitle{
  font-size: 20px;
  margin-left: 25px;
}