.container {
  display: none;
  background-color: var(--color-bg-app-LIGHT);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  animation: fadeInLeft 0.7s;
}

.contentInfo {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.iconTrash {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  color: red;
  margin-right: 0;
  padding: 5px;
  background-color: var(--color-Tertiary);
}

.iconTrash:hover{
  cursor: pointer;
  width: 40px;
  height: 40px;
}

.buttonCancel, .buttonDelete {
    margin-top: 40px;
    width: 150px;
    height: 30px;
    border: 0;
    padding: 5px;
    font-family: Roboto;
    font-size: large;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 7px 5px 10px 1px rgba(0,0,0,0.70);
    color: var(--color-DARK);
}

.buttonCancel {
  background-color: var(--color-Tertiary);
}

.buttonDelete {
  background-color: var(--color-RED);
  color: var(--color-bg-app-LIGHT);
}

.buttonCancel, .buttonDelete:hover {
  cursor: pointer;
}

.iconInfo {
  width: 80px;
  height: 80px;
  color: var(--color-Tertiary)
}