.playGameContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    align-items: center;
    width: 100vw;
    height: 100vh;    
    overflow: hidden;
    z-index: -1;
}


.background{
    min-width: 100%;
    min-height: 100%;  
    z-index: -1;  
}